.HEADER_THUNDER {
    width: 100%;
    height: 215px;
    backdrop-filter: blur(50px);
    /* background-image: linear-gradient(#38AFE1, #12142F);
    background-image: linear-gradient(#2A8481, #110702);
    background-image: linear-gradient(#388fe1, #12142F); */
    background-image: linear-gradient(#F27E4C, #110702);
    z-index: -8;
    position: fixed;
}
.HEADER_SHIELD {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-image: linear-gradient(#12142f18, #12142f00); */
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    z-index: -5;
}
.img_bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
}
.Thumb_image {
    position: absolute;
    top: 120px;
    z-index: -8;
    height: auto;
    width: 340px;
    border-radius: 20px;
    margin: 16px 0px;
}

@media only screen and (max-width: 1300px) {
    .img_bg{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 350px) {
    .img_bg{
        width: 288px;
        height: auto;
    }
}
@media only screen and (max-width: 320px) {
    .img_bg{
        width: fit-content;
        height: auto;
    }
}
