.TrendingOneWrapper {
  height: 320px;
  margin: 16px;
  position: relative;
  width: 100%;
}
.TrendingOne_image {
  position: absolute;
  height: 320px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  z-index: -1;
}
.trenigOne_contentwrpr {
  padding: 36px;
  display: flex;
  flex-direction: column;
}
.trgOne_button {
  cursor: pointer;
  display: flex;
  margin: 16px 0px;
  align-items: center;
  justify-content: center;
  border: 2px solid #f27e4c;
  width: fit-content;
  padding: 6px 32px;
  border-radius: 20px;
  white-space: nowrap;
  background: transparent;
  z-index: 2;
}
.trendingOne_content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.play_treOne {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  margin: 16px;
  border: 1px solid;
}
.trenOne_number {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  margin: 16px;
}
.TrgOne_name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 50px;
  white-space: nowrap;
  margin: 16px;
}
@media only screen and (max-width: 875px) {
  .TrendingOne_image,
  .TrendingOneWrapper {
    border-radius: 12px;
    height: 240px;
  }
}
@media only screen and (max-width: 430px) {
  .TrgOne_name {
    font-size: 40px;
  }
}
@media only screen and (max-width: 320px) {
  .trenigOne_contentwrpr {
    padding: 16px;
  }
  .trendingOne_content {
    flex-direction: column;
  }
  .List_save {
    float: right;
  }
  .TrgOne_name {
    font-size: 34px;
  }
}
