.HeaderCore_content_Inactive {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HeaderCore_para {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    padding: 0px 16px;
    text-align: center;
    opacity: 0.5;
}
.HeaderCore_Intro {
    margin-top: 92px;
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HeaderCore_header {
    display: flex;
    align-items: baseline;
    padding: 16px 0px;
}
.getStarted {
    background-color: #F27E4C;
    border: #F27E4C;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 24px;
    margin: 16px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.HeaderCore_MusicName {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    padding: 16px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.Music_wrpaer {
    display: flex;
    align-items: baseline;
}

.HeaderCore_Music_by {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.5;
    padding: 0px 16px;
}


.Nav_header_name {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    padding-right: 8px;
    font-family: 'Poppins', sans-serif;
}
.Nav_header_BB,.NowListening_para {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.6;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.NowListening_para {
    color: #F27E4C;
    opacity: 1;
}