.D2iscover_page_wrapper {
}
.D2iscoverIntro_wraper {
  display: flex;
  max-width: 1440px;
  position: relative;
  top: -116px;
  z-index: -3;
}
.D2iscoverPageB_content {
}
.introImgd2 {
  position: relative;
}
.d2IntroImg {
  width: 100%;
  height: 564px;
  object-fit: cover;
}
.margd2 {
  margin: 16px 0px;
}
.introImgd2Overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(
    to right,
    #ffffff00,
    #ffffff00,
    #11070265,
    #110702
  );
}
.D2introtxtWrpr {
  position: absolute;
  top: 122px;
  z-index: 3;
  flex-basis: 600px;
  max-width: 600px;
  right: 20px;
}
.d2trntxtwrp {
  max-width: 380px;
  right: 150px;
}
.D2introHeader {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 50px;
  line-height: 73px;
}
.parag {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff70;
  font-size: 14px;
  line-height: 22px;
  margin: 16px 0px;
}

/* artist wrapper section */
.D2isvoerArtis_wpr {
  margin: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.d2ArtImgwrpr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d2artist {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  margin: 14px;
}
.d2artistLrg {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  object-fit: cover;
}
.d2Arttxtwrp {
  margin: 0px 72px;
}
.d2ArtHeader {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 8px;
}
.d2artiPara {
  margin: 0px;
}
/* Premium banner */
.d2PremumBanner {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row-reverse;
  margin: 80px 0px;
}
.d2premImgdiv {
  position: relative;
}
.d2premImg {
  position: relative;
  height: 578px;
  width: auto;
}
.d2prmImgd2Overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(
    to left,
    #ffffff00,
    #ffffff00,
    #11070265,
    #110702
  );
}
.d2PrmtxtWrpr {
  position: absolute;
  color: white;
  left: 196px;
  top: 280px;
  max-width: 500px;
  z-index: 4;
}
.d2prmsubHedr,
.d2prmHeader,
.premPlay {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}
.d2prmHeader {
  font-size: 40px;
  font-weight: 500;
  margin: 16px 0px;
}
.prmPlaywrp {
  display: flex;
  align-items: center;
}
.premPlay {
  font-size: 14px;
}
.PlayPrem {
  padding: 16px;
}

.D2trendingIntro_wraper {
  display: flex;
  position: relative;
}

/* trending section */
.discovWrper {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  margin: 20px 0px;
}
.discovWrper::-webkit-scrollbar {
  width: 0px;
}

.discovWrper2 {
  top: -80px;
  position: relative;
}
.subHeaderD2 {
  position: relative;
  top: -80px;
}
.d2iscollec_wrpr {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.tren2parg {
  flex-basis: 600px;
  margin: 40px 20px;
  font-size: 13px;
}
@media only screen and (max-width: 1156px) {
  .d2iscollec_wrpr {
    flex-direction: column;
  }
  .tren2parg {
    flex-basis: auto;
  }
}
@media only screen and (max-width: 1085px) {
  .d2trntxtwrp {
    top: 280px;
    transition: 0.8s ease-out;
    margin: 16px;
    right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .introImgd2Overlay,
  .d2prmImgd2Overlay {
    background-image: linear-gradient(
      to bottom,
      #ffffff00,
      #ffffff00,
      #11070265,
      #110702
    );
  }
  .discovWrper {
    padding-bottom: 0px;
    transition: 0.8s ease-out;
    width: 100%;

  }
  .D2introtxtWrpr {
    margin: 0px 16px;
  }
  .d2Arttxtwrp {
    margin: 32px;
    text-align: center;
    transition: 0.8s ease-out;
  }
  .d2PrmtxtWrpr {
    top: 360px;
    left: 60px;
    padding: 16px;
    transition: 0.8s ease-out;
  }
  .tren2parg {
    margin: 16px;
  }
}
@media only screen and (max-width: 758px) {
  .D2isvoerArtis_wpr {
    flex-direction: column;
  }
}
@media only screen and (max-width: 448px) {
  .D2introHeader,
  .d2prmHeader {
    font-size: 36px;
    line-height: 56px;
    transition: 0.8s ease-out;
  }

  .d2IntroImg {
    height: 450px;
    transition: 0.8s ease-out;
  }
  .discovWrper2 {
    top: 0px;
  }
  .subHeaderD2 {
    top: 0px;
  }
  .d2PrmtxtWrpr {
    left: 0px;
  }

  .PlayPrem {
    padding: 8px;
  }
  .d2HeaderCore {
    position: relative;
    top: 40px;
  }
  .d2trntxtwrp {
    top: 175px;
  }
}
