.TrenPag_autoShuffl_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TrenPag_autoShuffl_content {
    display: flex;
    align-items: center;
    margin: 0px 8px;
}

.AutoPlayButton_B {
    margin: 16px 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 6px 24px;
    border-radius: 20px;
    border: 2px solid #F27E4C;
}
.NoMusic_wrpper {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.NOmusicFound {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    opacity: 0.8;
    font-weight: 400;
    color: #ffffff;
    padding: 16px;
    position: absolute;
    right: 43%;
}

.searchData_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.SearRe_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

@media only screen and (max-width: 1152px) {
    .searchData_content {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "ItemCard_wrapper";
    }
}

@media only screen and (max-width: 886px) {
    .searchData_content {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "ItemCard_wrapper";
    }
}

@media only screen and (max-width: 562px) {
    .searchData_content {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "ItemCard_wrapper";
    }
}

@media only screen and (max-width: 400px) {
    .Play_D_H {
        display: none;
    }
    .AutoPlayButton_B {
        padding: 6px 16px;
        border: 1px solid #F27E4C;
    }
}
@media only screen and (max-width: 350px) {
    .Play_D_H {
        display: none;
    }
    .ButtonImgs {
        display: none;
    }
}