
// credit to https://css-tricks.com/sliding-nightmare-understanding-range-input/#top-of-site
//https://stackoverflow.com/questions/45226712/how-to-change-css-root-variable-in-react

$track-w: 100%;
$track-h: .2em;
$thumb-d: 0em;
$track-c: rgba(255, 255, 255, 0.13);
$filll-c: #F27E4C;

:root {
	--base: 0;
	--max:100;
}

@mixin track($fill: 0) {
	box-sizing: border-box;
	border: none;
	width: $track-w; height: $track-h;
	background: $track-c;
	
	@if $fill == 1 {
			background: linear-gradient($filll-c, $filll-c)
				0/ var(--sx) 100% no-repeat $track-c
		
	}
}

@mixin fill() {
	height: $track-h;
	background: $filll-c;
}

@mixin thumb() {
	box-sizing: border-box;
	border: none;
	width: $thumb-d; height: $thumb-d;
	border-radius: 50%;
	background: #f90;
}

[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none;
	}
	
	--range: calc(var(--max) - 0);
	--ratio: calc((var(--base) - 0)/var(--range));
	--sx: calc(var(--ratio)*(100%));
	
	// --range: calc(var(--max) - var(--min));
	// --ratio: calc((var(--base)/100));
	// --sx: calc(var(--ratio)*(100%));

	margin: 0;
	padding: 0;
	width: $track-w; height: $thumb-d;
	background: transparent;
	font: 1em/1 arial, sans-serif;
	
	&::-webkit-slider-runnable-track {
		@include track(1)
	}
	&::-moz-range-track { @include track }
	&::-ms-track { @include track }
	
	&::-moz-range-progress { @include fill }
	&::-ms-fill-lower { @include fill }
	
	&::-webkit-slider-thumb {
		margin-top: .5*($track-h - $thumb-d);
		@include thumb
	}
	&::-moz-range-thumb { @include thumb }
	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}
	
	&::-ms-tooltip { display: none }
}

#range1 {
	cursor: pointer;
}