.List_card_wrapper {
  display: flex;
  align-items: center;
  backdrop-filter: blur(8px);
  padding: 6px 16px;
  border-radius: 8px;
  margin: 8px 16px;
  z-index: 1;
  background: transparent;
}
.List_card_wrapper:hover {
  background-color: #291106;
  backdrop-filter: blur(50px);
}

.ListCard_B2 {
  display: none;
  padding-top: 8px;
}
.List_card_content {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  flex-grow: 1;
}
.controller {
  padding: 0px 16px;
}
.List_Images {
  display: flex;
  align-items: center;
}
.List_Image {
  height: 40px;
  width: 50px;
  object-fit: cover;
  margin: 0px 16px;
  border-radius: 8px;
}
.List_Name_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  flex-grow: 1;
  flex-basis: 300px;
  overflow: hidden;
}
.List_artist_name {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
}
.List_duration_view_wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  width: 116px;
}
.List_duration,
.List_view {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
  padding: 0px 12px;
}
.List_status {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 12px;
  flex-grow: 1;
  white-space: nowrap;
}
.listCard_nowPlaying {
  margin: 0px 16px;
  display: flex;
  flex-grow: 1;
}
.List_save {
  cursor: pointer;
  margin: 0px 12px;
  width: 18px;
}
@media only screen and (max-width: 1375px) {
  .List_Name_wrapper {
    overflow: hidden;
    /* width: 0; */
  }
}
@media only screen and (max-width: 769px) {
  .List_card_wrapper {
    padding: 6px 16px;
  }
}
@media only screen and (max-width: 568px) {
  .List_Image {
    margin: 8px 0px;
    margin-right: 16px;
  }
  .ListCard_B2 {
    display: block;
  }
  .listCard_nowPlaying {
    display: none;
  }
}
@media only screen and (max-width: 432px) {
  .List_view {
    padding: 0px;
  }
}
@media only screen and (max-width: 420px) {
  .List_Name_wrapper {
    width: 0;
  }
}
@media only screen and (max-width: 402px) {
  .List_view {
    display: none;
  }
  .List_card_wrapper {
    margin: 6px 16px;
  }
}
@media only screen and (max-width: 320px) {
  .List_duration_view_wrapper {
    display: none;
  }
}
