.List_card_wrapper {
  display: flex;
  align-items: center;
  backdrop-filter: blur(8px);
  padding: 6px 16px;
  border-radius: 8px;
  margin: 8px 16px;
  &:hover {
    background-color: #291106;
    backdrop-filter: blur(50px);
  }
  .List_card_content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    .List_Images {
      display: flex;
      align-items: center;
      .List_Image {
        height: 40px;
        width: 50px;
        object-fit: cover;
        margin-right: 16px;
        border-radius: 8px;
      }
    }
    .List_Name_wrapper {
      display: flex;
      flex-direction: column;
      padding: 0px 16px;
      flex-grow: 1;
      flex-basis: 300px;
      overflow: hidden;
      .ListCard_B2 {
        display: none;
        padding-top: 8px;
      }
    }
    .List_duration_view_wrapper {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      width: 116px;
      .List_duration {
      }
      .List_view {
      }
    }
    .listCard_nowPlaying {
      margin: 0px 16px;
      display: flex;
      .List_save {
        cursor: pointer;
        margin: 0px 12px;
        width: 18px;
      }
    }
  }
}
@media only screen and (max-width: 568px) {

  .ListCard_B2 {
      display: block;
  }

  

}